<div class="case-process">
    <h2>THE PROCESS</h2>
    <div class="case-process-item">
        <div class="case-process-item-head">
            <div class="icon icon-design"></div>
            <div class="number">01</div>
        </div>
        <h3>{{ page.process_1_title }}</h3>
        <p>{{ page.process_1_desc }}</p>
    </div>
    <div class="case-process-item">
        <div class="case-process-item-head">
            <div class="icon icon-design"></div>
            <div class="number">02</div>
        </div>
        <h3>{{ page.process_2_title }}</h3>
        <p>{{ page.process_2_desc }}</p>
    </div>
    <div class="case-process-item">
        <div class="case-process-item-head">
            <div class="icon icon-design"></div>
            <div class="number">03</div>
        </div>
        <h3>{{ page.process_3_title }}</h3>
        <p>{{ page.process_3_desc }}</p>
    </div>
    <div class="case-process-item">
        <div class="case-process-item-head">
            <div class="icon icon-design"></div>
            <div class="number">04</div>
        </div>
        <h3>{{ page.process_4_title }}</h3>
        <p>{{ page.process_4_desc }}</p>
    </div>
</div>