<div class="cover">
    <div class="content-left">
        <img src="{{site.baseurl}}/assets/images/cover.svg" alt="Piñata Software">
    </div>
    <div class="content-right">
        <h1>Let’s Create Together.</h1>
        <p class="subtitle">Piñata Software is a Product Design & Custom Web Development consultancy.</p>
        <p class="subtitle">We can help you throughout the process of Designing and developing your product.</p>
        <a href="#" class="btn btn-cta">Get A Free Project Evaluaion</a>
    </div>
</div>