<footer>
    <div class="content-left">
        <a href="{{site.baseurl}}/" class="logo-white"></a>
        <p>Piñata Software is a custom web development and product design consultancy.</p>
        <div class="social-links">
            <a href="#" class="social-link twitter"></a>
            <a href="#" class="social-link youtube"></a>
            <a href="#" class="social-link github"></a>
        </div>
    </div>
    <div class="columns-container">
        <div class="col">
            <h3>SERVICES</h3>
            <a  class="btn-link">
                Product Design
            </a>
            <a  class="btn-link">
                Design Sprint
            </a>
            <a  class="btn-link">
                Engineering
            </a>
            <a  class="btn-link">
                Ecommerce
            </a>
            <a  class="btn-link">
                Project Managment
            </a>
            <a  class="btn-link">
                Grow Your Team
            </a>
        </div>
        <div class="col">
            <h3>OUR STACK</h3>
            <a class="btn-link">
                React JS
            </a>
            <a class="btn-link">
                VueJS
            </a>
            <a class="btn-link">
                Elixir
            </a>
            <a class="btn-link">
                Ruby On Rails
            </a>
        </div>
        <div class="col">
            <h3>FOR CLIENTS</h3>
            <a href="#" class="btn-link">
                My Account
            </a>
        </div>
        <div class="col">
            <h3>COMPANY</h3>
            <a href="#" class="btn-link">
                Work
            </a>
            <!-- <a href="#" class="btn-link">
                Culture
            </a> -->
        </div>
    </div>
    <div class="content-right">
        <a href="{{site.baseurl}}/contact" class="btn btn-cta-blue">Talk To Us</a>
    </div>
    <div class="rights-reserved">
        <p>Piñata Software © All Rights reserved 2020</p>
    </div>
</footer>